@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-color : #0F1017;
    --btn-color : #E14817;
    --text-color : #E7E7E8;
    --text-color-2 : #FFFFFF;

}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    color: var(--text-color-2);
}

p{
    color: var(--text-color-2);
}

header{
    background-color: var(--bg-color);
    height: 9.4rem;
}

.main-header{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.logo img{
    width: 7.8rem;
    height: 3rem;
    margin-right: .5rem;
    
}

.logo {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
}

.navbar ul li a{
    font-size: 1.6rem;
    color: var(--text-color);
}

.nav-btn{
    margin-right: 8rem;
}

.nav-btn button:nth-child(1){
    width: 9rem;
    height: 4.6rem;
    background-color: var(--bg-color);
    color: var(--text-color-2);
    border: none;
}

.nav-btn button:nth-child(2){
    width: 10.2rem;
    height: 4.6rem;
    background-color: var(--btn-color);
    color: var(--text-color-2);
    border: none;
    border-radius: .8rem;
    margin-left: .8rem;
}

.navbar ul .nav-btn.a{
    display: none;
}

.ham-btn i.bx{
    color: var(--text-color-2);
    font-size: 4rem;
}

.ham-btn{
    display: none;
}

.logo{
    z-index: 999;
} 

.ham-btn{
    z-index: 999;
}


main{
    background-color: var(--bg-color);
}

.main-hero{
    max-width: 1440px;
    height: 66.6rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin:0 auto;
}

.hero-content{
    width: 63.6rem;
    /* height: 46rem; */
    /* border: solid var(--btn-color); */
    height: 46rem;
        margin-left: 8rem;
}

.hero-content p:nth-child(1){
    font-size: 7rem;
    position: relative;
    margin-bottom: 2.4rem;
}

.hero-content p:nth-child(1)::before{
    content:'' ;
    position: absolute;
    background-image: url(/images/Ornament.svg);
    width: 2rem;
    height: 2rem;
    top: 10%;
    right: 10%;
    background-size: contain;
    background-repeat: no-repeat;


    /* background: ; */

}

.hero-content p:nth-child(2){
    font-size: 2rem;
    margin-bottom: 5.6rem;
}

.hero-btn{
    display: flex;
    justify-content: start;
    align-items: center;
}
.hero-content button:nth-child(1){
    display: inline-block;
    width: 19.8rem;
    height: 6rem;
    background-color: var(--btn-color);
    border-radius: .8rem;
    font-weight: 2rem;
    border: none;
    color: var(--text-color-2);
    margin-right: 2.4rem;
    font-size: 1.6rem;
}

.hero-content button:nth-child(2){
    display: inline-block;
    width: 19.6rem;
    height: 6rem;
    background-color: transparent;
    border-radius: .8rem;
    font-weight: 2rem;
    border: solid var(--text-color) .1rem;
    color: var(--text-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;

    & i.bx{
        font-size: 2rem;
    }
}

.hero-img{
    width: 52.2rem;
    height: 52.2rem;
    /* border: solid .1rem var(--btn-color); */
    margin-right: 8rem;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* media query */

@media screen and (max-width:1440px){
    html{
        font-size: 52.5%;
    }

    .hero-img img {
        width: 50rem;
        height: 50rem;
    }
}


@media screen and (max-width:1240px){
    .hero-content{
        margin-left: 2rem;
    }
    .hero-img{
        margin-right: 2rem;
    }
}

@media screen and (max-width:1024px) {
    html{
        font-size: 42.5%;
    }

    .nav-btn{
    margin-right: 5rem;

}


    .logo{
        margin-left: 5rem;
    }

    .hero-content{
          width: 45.6rem;
    /* height: 46rem; */
    /* border: solid var(--btn-color); */
    /* height: 30rem; */
        margin-left: 6rem;
    }

    .hero-img{
        margin-right: 6rem;
        margin-top: 0;
    }

     .hero-img img  {
        width: 48rem;
        height: 48rem;
    }

    .hero-content p:nth-child(1){
        font-size:5rem ;
    }

     .hero-content p:nth-child(2){
        font-size:1.5rem ;
    }

    .hero-btn button:nth-child(1){
  width: 15.8rem;
    height: 5rem;
    font-size: 1.4rem;
    }

    .hero-btn button:nth-child(2){
  width: 17.8rem;
    height: 5rem;
    font-size: 1.4rem;
    }
}



@media screen and (max-width:768px) {
    html{
        font-size: 42.5%;
    }

    .ham-btn{
        display: block;
        margin-right: 4rem;
    }

    .ham-btn i.bx.bx-x{
        display: none;
    }
    .main-header{
        position: relative;
    }
.navbar{
position: absolute;
top:0px;
right: 100%;

transition: right .3s ease;
}


.nav-btn{
    display: none;
}

.nav-btn.a{
    display: unset;
}
.navbar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    width: 100vw;
    height: 100vh;
    text-align: center;
    
   

    & li a{
        color: var(--bg-color);
        font-size: 3rem;
    }

    & li{
        list-style: none;
    }
}

.navbar ul .nav-btn.a {
     width: inherit;
     display: flex;
     justify-content: center;
     align-content: center;
     margin-top: 20px;
    margin-right:0 ;
    gap: 2rem;
    
}

.nav-btn.a button:nth-child(1){
    border-radius: .8rem;
}
   

.ham-btn i.bx.bx-menu-right.active{
    display: none;
}

.ham-btn i.bx.bx-x.active{
    display: block;
    color: var(--bg-color);
}

.navbar.active{
    right: 0;
}

a.logo.active {
    color: var(--bg-color);
}


.main-hero{
    flex-direction: column-reverse;
    height: max-content;
}

.hero-img{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;

}

.hero-content{
    text-align: center;
    margin-left: 0;
}

.hero-btn{
    display: flex;
    flex-direction: column;
}

.hero-btn button:nth-child(1){
    width: 32.7rem;
    height: 5.4rem;
    margin: 0;
}

.hero-btn button:nth-child(2){
    width: 32.7rem;
    height: 5.4rem;
    margin-top: 1.6rem;
}

.hero-content p:nth-child(1)::before{
    top: 3%;
    right: 3%;
}


}

@media screen and (max-width:425px){
    .logo{
        margin-left: 2.5rem;
    }

    .ham-btn{
        margin-right: 2.5rem;
    }
}


@media screen and (max-width:375px){
    .hero-img img{
        width: 300px;
        height: 300px;
    }
}


